@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,900&family=Montserrat:wght@900&family=PT+Serif:ital,wght@1,700&family=Public+Sans:wght@500;600&family=Space+Grotesk&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

.name > img{
    margin-left: 2rem;
}
.login-icon {
    width: 3rem;
    margin-right: 2rem;
}
.login-icon img {
    width: 100%;
    height: auto;
}

.search-box input{
    border: none;
    outline: none;
}

.header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    clear: both;
}

.Head-names a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

body{
    background-color: #F6F8FB;
}

.search-box {
    display: flex;
    align-items: center;
    background: #fff; 
    border: 1px solid black; 
    border-radius: 1.25rem;
    padding: 5px;
    width: 15rem; 
}



.search-icon {
    margin-right: 1rem; 
    color: #666; 
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-details,
.projects-history {
    width: 49%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.profile-details {
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1.25rem;
}
.projects-history{
    margin-left: 1.5rem;
    width:100%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1.25rem;
    border: none;
}


.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 10rem;
    height: 10rem;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    border-radius: 50%;
    border: 3px solid #4E9DEE;
    
    margin-bottom: 20px;
}

.edit-profile {
    text-align: center;
    margin-bottom: 20px;
}

.edit-profile button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

.follow-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.followers,
.following {
    border: 1px solid #3498db;
    width: 49%;
    padding: 8px;
    border-radius: 1.25rem;
    margin-right: 5px;
    color: #3498db;
    font-size: 12px;
    text-align: center;
}

.profile-info textarea,
.edit-profile input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.followers,
.following {
    background-color: #f0f8ff;
    color: #3498db;
}

.feed-content {
    margin-left: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.feed-content p {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 10px;
}

.account-type label {
    margin-right: 10px;
}
.patented-text {
    margin-left: 1rem;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #3498db;
    color: white;
    font-size: 12px;
}
.preview-text {
    margin-left: 1rem;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #FFB240;
    color: white;
    font-size: 12px;
}